.top-container{
	height : 80px;
}
.round-container{
	border-radius: 25px;
	border: 2px solid #d3d3d3;
	margin-top: 50px;
	margin-bottom: 50px;
	max-width :500px;
}
/* remove - to return changes */
.round-container-data-{
	border-radius: 25px;
	border: 2px solid #d3d3d3;
	margin-top : 50px;
	min-width : 100%;
}

.table-row-shrink{
	white-space: nowrap;
	max-width:100%;
}

.menu-container{
	text-align : center;
}

.menu-ul{
	display: inline-block;
}


#notification {
    position:fixed;
    top:0px;
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    color:white;
    background-color:#FF7800;
    padding:5px;
}
#notification span.dismiss {
    border:2px solid #FFF;
    padding:0 5px;
    cursor:pointer;
    float:right;
    margin-right:10px;
}
#notification a {
    color:white;
    text-decoration:none;
    font-weight:bold
}

#table-content{
	display:none;
}
